;; A sample set of keycaps for 64 ALPS-style switches on a Concertina,
;; a keyboard design bundled with the DMOTE application.

{;; A section of keys with mid-size top legends for letters, and
 ;; rotated, smaller legends on the top row in each column.
 {:top-size [10 10 2.6]
  :skirt-thickness 2.4
  :legend {:faces {:top {:text-options {:style {:font-size "1.8mm"}}}
                   :north {:text-options {:style {:font-size "1.4mm"
                                                  :dominant-baseline "baseline"}
                                          :transform "rotate(180, 0, 0)"}}}}}
 [;; Left-hand side, main key cluster, excluding navigation area and other
  ;; symbol keys.
  ;; Second column from the bottom (index 4), near to far.
  "Z"
  "A"
  {:legend {:faces {:top {:char "Q"} :north {:char "F1"}}}}
  ;; Third column from the bottom (index 3).
  "X"
  "R"
  {:legend {:faces {:top {:char "W"} :north {:char "F2"}}}}
  ;; Fourth column from the bottom (index 2).
  "C"
  "S"
  {:legend {:faces {:top {:char "F"} :north {:char "F3"}}}}
  ;; Fifth column from the bottom (index 1).
  "V"
  "T"
  {:legend {:faces {:top {:char "P"} :north {:char "F4"}}}}
  ;; Topmost column (index 0).
  "B"
  "D"
  {:legend {:faces {:top {:char "G"} :north {:char "F5"}}}}
  ;; Right-hand side, main key cluster. Topmost column (index 0).
  "K"
  "H"
  {:legend {:faces {:top {:char "J"} :north {:char "F6"}}}}
  ;; Second column from the top (index 1) and so on, going down.
  ;; The last columns are dominated by text-based SVG glyphs for two separate
  ;; characters on the top face, with and without Shift.
  "M"
  "N"
  {:legend {:faces {:top {:char "L"} :north {:char "F7"}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/comma_with_lesser_than.svg"}}}}
  "E"
  {:legend {:faces {:top {:char "U"} :north {:char "F8"}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/period_with_greater_than.svg"}}}}
  "I"
  {:legend {:faces {:top {:char "Y"} :north {:char "F9"}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/question_mark_with_slash.svg"}}}}
  "O"
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/semicolon_with_colon.svg"}
                    :north {:char "F10"}}}}
  {:legend {:filename-suffix "grave_reset"
            :faces {:top {:unimportable "resources/legend/2linetext/grave_accent_mark_with_tilde.svg"}
                    :south {:char "↻" :text-options {:style {:font-size "2.0mm"}}}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/undirected_single_and_double_quote.svg"}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/backslash_with_vertical_bar.svg"}
                    :north {:char "F11"}}}}]
 ;; Another section for normal-height keys with non-letter top legends in a
 ;; larger font. Most of these keys go in the thumb clusters.
 {:top-size [10 10 2.6]
  :skirt-thickness 2.4
  :legend {:faces {:top {:text-options {:style {:font-size "2.8mm"}}}
                   :north {:text-options {:style {:font-size "1.8mm"
                                                  :dominant-baseline "baseline"}
                                          :transform "rotate(180, 0, 0)"
                                          :y 0.5}}
                   :east {:text-options {:style {:font-size "1.8mm"} :y 2}}
                   :south {:text-options {:style {:font-size "1.8mm"} :y 2}}
                   :west {:text-options {:style {:font-size "1.8mm"} :y 2}}}}}
 [;; Left-hand side, main key cluster.
  ;; Bottom column (index 5), near to far.
  {:legend {:filename-suffix "delete_insert"
            :faces {:top {:char "⌦" :text-options {:style {:font-size "3.2mm"} :y 1.6}}
                    :west {:char "⎀" :text-options {:style {:font-size "2.0mm"}}}}}}
  {:legend {:filename-suffix "backspace"
            :faces {:top {:char "⌫" :text-options {:style {:font-size "3.2mm"} :y 1.6}}}}}
  {:legend {:filename-suffix "tab_F12"
            :faces {:top {:char "↹"}
                    :north {:char "F12"  ; Imitate other function keys.
                            :text-options {:style {:font-size "1.4mm"
                                                   :dominant-baseline "baseline"}
                                           :transform "rotate(180, 0, 0)"}}}}}
  ;; Left-hand-side navigation area.
  {:legend {:filename-suffix "page-up"
            :faces {:top {:char "⤒" :text-options {:y 2}}}}}
  {:legend {:filename-suffix "page-down"
            :faces {:top {:char "⤓" :text-options {:y 2}}
                    :south {:unimportable "resources/legend/nontext/nav_castle.svg"}}}}
  {:legend {:filename-suffix "home"
            :faces {:top {:char "⇤"}
                    :south {:unimportable "resources/legend/nontext/mouse_button1.svg"}}}}
  {:legend {:filename-suffix "end"
            :faces {:top {:char "⇥"}
                    :south {:unimportable "resources/legend/nontext/mouse_button2.svg"}}}}
  ;; Right-hand-side navigation area.
  {:legend {:filename-suffix "up" :faces {:top {:char "↑"}}}}
  {:legend {:filename-suffix "down"
            :faces {:top {:char "↓"}
                    :south {:unimportable "resources/legend/nontext/mouse_motion.svg"}}}}
  {:legend {:filename-suffix "left" :faces {:top {:char "←"}}}}
  {:legend {:filename-suffix "right" :faces {:top {:char "→"}}}}
  ;; Left-hand thumb cluster, starting with the first column on the left (index 3), near to far.
  {:legend {:filename-suffix "left-ctrl"
            :faces {:top {:char "⎈" :text-options {:style {:font-size "3.4mm"} :y 1}}
                    :south {:char "["}}}}
  {:legend {:filename-suffix "left-shift"
            :faces {:top {:char "⇧" :text-options {:style {:font-size "3.4mm"} :y 1}}
                    :north {:char "("}}}}
  {:legend {:filename-suffix "left-alt"
            :faces {:top {:char "⎇"} :south {:char "{"}}}}
  {:legend {:filename-suffix "super" :faces {:top {:unimportable "resources/legend/nontext/penguin.svg"}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/hyphen_with_emdash.svg"}}}}
  {:legend {:filename-suffix "space"
            :faces {:top {:char "␣" :text-options {:style {:font-size "1.8mm"}}}}}}
  {:legend {:filename-suffix "charset_layout"
            :faces {:top {:unimportable "resources/legend/nontext/charset_roman-japanese_qwerty-colemak.svg"}}}}
  {:legend {:faces {:top {:unimportable "resources/legend/2linetext/equals_with_plus.svg"}}}}
  {:legend {:filename-suffix "directed-left"
            :faces {:top {:unimportable "resources/legend/2linetext/directed_left_single_and_double_quote.svg"}}}}
  {:legend {:filename-suffix "enter"
            :faces {:top {:char "⏎" :text-options {:style {:font-size "3.4mm"} :y 1}}}}}
  ;; Right-hand thumb cluster, first column on the left (index 0), near to far.
  {:legend {:filename-suffix "directed-right_sleep"
            :faces {:top {:unimportable "resources/legend/2linetext/directed_right_single_and_double_quote.svg"}
                    :south {:char "⏾" :text-options {:style {:font-size "2.0mm"} :x 0.5 :y 2}}}}}
  {:legend {:filename-suffix "mute_acceleration0"
            :faces {:top {:unimportable "resources/legend/nontext/mute.svg"}
                    :north {:unimportable "resources/legend/nontext/mouse_acceleration0.svg"}}}}
  {:legend {:filename-suffix "escape"
            :faces {:top {:char "⎋"
                          :text-options {:style {:font-size "3.2mm"}}}}}}
  {:legend {:filename-suffix "pause"
            :faces {:top {:char "⏯" :text-options {:style {:font-size "1.8mm"}}}}}}
  {:legend {:filename-suffix "volume-down_acceleration1"
            :faces {:top {:char "🕩" :text-options {:style {:font-size "1.8mm"} :y 2}}
                    :north {:unimportable "resources/legend/nontext/mouse_acceleration1.svg"}}}}
  {:legend {:filename-suffix "right-alt"
            :faces {:top {:char "⎇" :text-options {:transform "scale(-1,1)"}} :south {:char "}"}}}}
  {:legend {:filename-suffix "numeric-layer"  ; For shifting layers in QMK firmware.
            :faces {:top {:char "ℕ"  ; Blackboard bold N.
                          :text-options {:style {:font-family "Liberation Serif"}
                                         :y 2}}}}}  ; Center.
  {:legend {:filename-suffix "volume-up_acceleration2"
            :faces {:top {:char "🕪" :text-options {:style {:font-size "2.0mm"} :y 2}}
                    :north {:unimportable "resources/legend/nontext/mouse_acceleration2.svg"}}}}
  {:legend {:filename-suffix "right-ctrl"
            :faces {:top {:char "⎈" :text-options {:style {:font-size "3.4mm"} :y 1}}
                    :south {:char "]"}}}}
  {:legend {:filename-suffix "right-shift"
            :faces {:top {:char "⇧" :text-options {:style {:font-size "3.4mm"} :y 1}}
                    :north {:char ")"}}}}]}
